@charset "UTF-8";
* {
  box-sizing: border-box; }

.container {
  max-width: 1200px;
  height: 100%;
  width: 90%;
  padding: 0 15px;
  margin: 0 auto; }

.ba-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-left: -15px;
  margin-right: -15px; }

.ba-row + .ba-row {
  /*делаем отспут сверху для первой строчки, после первой строчки. У первой нам не нужен отступ сверху  */
  margin-top: 1rem; }

[class^='ba-col-'] {
  padding: 0 15px; }

.ba-col-1 {
  width: 8.33333%; }

.ba-col-2 {
  width: 16.66667%; }

.ba-col-3 {
  width: 25%;
  margin-bottom: 1rem; }
  @media (orientation: portrait) {
    .ba-col-3 {
      width: 50%; } }

.ba-col-4 {
  width: 33.33333%; }

.ba-col-5 {
  width: 41.66667%; }

.ba-col-6 {
  width: 50%; }

.ba-col-7 {
  width: 58.33333%; }

.ba-col-8 {
  width: 66.66667%; }

.ba-col-9 {
  width: 75%; }

.ba-col-10 {
  width: 83.33333%; }

.ba-col-11 {
  width: 91.66667%; }

.ba-col-12 {
  width: 100%; }

@media screen and (max-width: 768px) {
  .ba-col-sm-12 {
    width: 100%; }
  .ba-col-sm-11 {
    width: 91.66%; }
  .ba-col-sm-10 {
    width: 83.3%; }
  .ba-col-sm-9 {
    width: 74.97%; }
  .ba-col-sm-8 {
    width: 66.62%; }
  .ba-col-sm-7 {
    width: 58.3%; }
  .ba-col-sm-6 {
    width: 50%; }
  .ba-col-sm-5 {
    width: 41.65%; }
  .ba-col-sm-4 {
    width: 33.33%; }
  .ba-col-sm-3 {
    width: 24.98%; }
  .ba-col-sm-2 {
    width: 16.66%; }
  .ba-col-sm-1 {
    width: 8.33%; } }

/* common */
.visually-hidden {
  position: absolute;
  left: -9999999px;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: 0;
  overflow: hidden; }
