* {
  box-sizing: border-box; }

body {
  margin: 0 auto;
  padding: 0;
  max-width: 1920px;
  overflow-x: hidden; }

header {
  width: 100%;
  margin: 0%;
  min-height: 120vh;
  overflow: auto;
  padding: 50px 50px;
  background-color: #00b2bb;
  background-image: url(../img/bg_scratches.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 3; }
  @media (orientation: portrait) {
    header {
      min-height: 60vh; } }

nav {
  display: flex;
  align-items: center;
  overflow-x: hidden; }

.header-bg1 {
  width: 100%;
  height: 100%; }

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.nav-menu {
  transform: translateX(1000px);
  transition: .8s; }

.menu {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  list-style: none; }
  .menu li {
    padding-left: 20px;
    font-size: 30px;
    color: white;
    text-shadow: transparent 1px 1px 3px;
    transition: .4s; }
    .menu li:hover {
      text-shadow: black 1px 1px 3px;
      color: skyblue; }

.nav-button {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: space-around;
  margin-left: 50px; }
  .nav-button span {
    width: 40px;
    height: 2px;
    background-color: #fff; }

.header-content {
  height: 100%;
  width: 100%;
  display: flex; }
  .header-content > div {
    width: 50%; }

.header-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding-top: 10%; }
  .header-info h1 {
    color: white;
    text-align: center;
    margin-bottom: 100px;
    font-size: 3rem;
    text-transform: uppercase;
    text-shadow: white 0px 0px 3px; }
    .header-info h1:hover {
      animation-name: title;
      animation-duration: 3s;
      animation-iteration-count: 1; }
    @media screen and (max-width: 901px) {
      .header-info h1 {
        margin-bottom: 50px;
        font-size: 2rem; } }
  .header-info a {
    display: inline-block;
    width: 150px;
    height: 3rem;
    border: solid 1px white;
    border-radius: 20px;
    text-align: center;
    font-size: 1.2rem;
    line-height: 3rem;
    text-decoration: none;
    color: white;
    transition: background-color .6s;
    text-transform: uppercase; }
    .header-info a:hover {
      border: 1px solid transparent;
      background-color: #22f4ff;
      text-shadow: gray 1px 1px 1px; }

.header-picture {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover; }
  .header-picture img {
    position: relative;
    width: 90%;
    transform: scale(0.8);
    transition: .4s; }
    .header-picture img::after {
      content: '';
      display: block;
      width: 100%;
      height: stretch;
      background-image: url(../img/shaddow1.png);
      position: absolute;
      bottom: 0;
      left: 0; }
    .header-picture img:hover {
      animation-name: hide;
      animation-duration: 3s;
      animation-iteration-count: 1; }
    @media screen and (max-width: 900px) {
      .header-picture img {
        transform: rotate(-20deg); } }

.section1 {
  width: 100%;
  min-height: 100%;
  background-image: url(../img/shape1.png);
  background-size: cover;
  background-position: cover;
  background-repeat: no-repeat;
  margin-top: -240px;
  overflow-x: hidden;
  overflow-y: visible;
  position: relative;
  z-index: 5; }
  @media screen and (min-width: 1768px) {
    .section1 {
      margin-top: -300px; } }

.bg-wrap {
  background-image: url(../img/shape2.png);
  background-size: cover;
  background-position: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  opacity: 0.8;
  max-height: 110%;
  z-index: 15;
  height: 100%; }

.s2-content {
  position: relative;
  z-index: 16;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20%; }
  .s2-content img {
    width: 50%; }
  .s2-content a {
    width: 150px;
    height: 3rem;
    border: solid 1px black;
    border-radius: 20px;
    text-align: center;
    font-size: 1.2rem;
    line-height: 3rem;
    text-decoration: none;
    color: black;
    background-color: #00b2bb;
    transition: background-color .6s;
    text-transform: uppercase;
    position: relative;
    left: -20%;
    top: -100px; }
    .s2-content a:hover {
      border: 1px solid transparent;
      background-color: #22f4ff;
      text-shadow: gray 1px 1px 1px; }

.active {
  transform: translateX(0px); }

@keyframes title {
  0% {
    color: white; }
  10% {
    color: skyblue; }
  20% {
    color: transpatent; }
  30% {
    text-shadow: white 0px 0px 6px; }
  60% {
    text-shadow: white 0px 0px 18px; }
  80% {
    text-shadow: white 0px 0px 18px; }
  90% {
    text-shadow: white 0px 0px 24px; }
  100% {
    color: white;
    text-shadow: white 0px 0px 4px; } }

@keyframes hide {
  20% {
    opacity: 0;
    transform: scale(0.1) translateY(-1000px); }
  40% {
    transform: translateY(0);
    transform: translatex(1000px); }
  70% {
    transform: translateX(0px);
    opacity: 1;
    transition: transform 1s;
    transform: rotate(0deg); }
  80% {
    transform: rotate(60deg);
    transition: 2s; }
  90% {
    transform: rotate(-10deg);
    transition: 2s; }
  100% {
    transform: rotate(0deg);
    transition: 2s; } }
