* {
  box-sizing: border-box; }

*::selection {
  background-color: transparent; }

body {
  margin: 0 auto;
  padding: 0;
  max-width: 1920px;
  overflow-x: hidden;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #0089a0;
  background-image: url(../img/bg_scratches.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }

header {
  width: 100%;
  margin: 0%;
  min-height: 100vh;
  overflow: auto;
  padding: 50px 50px;
  background-color: #00b2bb;
  background-image: url(../img/bg_scratches.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 3; }
  @media (orientation: portrait) {
    header {
      min-height: 60vh; } }

nav {
  display: flex;
  align-items: center;
  overflow-x: hidden; }

.cont {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 20px; }

.wrap {
  position: relative;
  width: 600px;
  min-height: 480px;
  perspective: 1000px; }

.wrap div {
  position: absolute;
  width: 640px;
  min-height: 480px;
  opacity: 0;
  display: none;
  /*	object-fit: cover;
*/ }

.slide-buttons {
  min-width: 600px;
  width: 90%;
  display: flex;
  height: 50px;
  line-height: 50px;
  margin: 0 auto 40px auto;
  justify-content: space-around; }

button {
  width: 50px;
  height: 50px;
  background-color: #00b2bb;
  border-radius: 50%;
  text-transform: uppercase;
  color: white;
  font-size: 2.5rem;
  line-height: 50px;
  transition: .4s;
  box-shadow: white 1px 1px 3px; }
  button:hover {
    background-color: #00696f; }

.wrap div img {
  width: 100%;
  height: auto;
  transition: 1s; }

.wrap .center {
  display: flex;
  opacity: 1;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 640px;
  transition: 1s;
  justify-content: center;
  align-items: flex-start; }

.wrap .left {
  display: block;
  opacity: .5;
  top: 0;
  left: 0;
  transform: translateX(-140px);
  top: 80px;
  z-index: 5;
  width: 100px;
  transition: .3s; }

.wrap .right {
  display: block;
  opacity: .5;
  top: 0;
  top: 80px;
  left: 0;
  transform: translateX(680px);
  z-index: 5;
  width: 100px;
  transition: .3s; }

.header-bg1 {
  width: 100%;
  height: 100%; }

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.nav-menu {
  transform: translateX(1000px);
  transition: .8s; }

.menu {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  list-style: none; }
  .menu a {
    padding-left: 20px;
    font-size: 30px;
    color: white;
    text-shadow: transparent 1px 1px 3px;
    transition: .4s;
    text-decoration: none; }
    .menu a:hover {
      cursor: pointer;
      text-shadow: black 1px 1px 3px;
      color: skyblue; }

.nav-button {
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: space-around;
  margin-left: 50px; }
  .nav-button span {
    width: 40px;
    height: 2px;
    background-color: #fff; }

.header-content {
  height: 100%;
  width: 100%;
  display: flex; }
  .header-content > div {
    width: 50%; }

.header-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding-top: 5%; }
  .header-info h1 {
    color: white;
    text-align: center;
    margin-bottom: 4rem;
    font-size: 3rem;
    text-transform: uppercase;
    text-shadow: white 0px 0px 3px; }
    .header-info h1:hover {
      animation-name: title;
      animation-duration: 3s;
      animation-iteration-count: 1; }
    @media screen and (max-width: 901px) {
      .header-info h1 {
        margin-bottom: 30px;
        font-size: 2rem; } }
  .header-info .h-btn {
    display: inline-block;
    width: 150px;
    height: 3rem;
    border: solid 1px white;
    border-radius: 20px;
    text-align: center;
    font-size: 1.2rem;
    line-height: 3rem;
    text-decoration: none;
    color: white;
    transition: background-color .6s;
    text-transform: uppercase; }
    .header-info .h-btn:hover {
      border: 1px solid transparent;
      background-color: #22f4ff;
      text-shadow: gray 1px 1px 1px; }

.header-picture {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover; }
  .header-picture img {
    position: relative;
    width: 90%;
    transform: scale(0.8);
    transition: .4s; }
    .header-picture img::after {
      content: '';
      display: block;
      width: 100%;
      height: stretch;
      background-image: url(../img/shaddow1.png);
      position: absolute;
      bottom: 0;
      left: 0; }
    @media screen and (max-width: 900px) {
      .header-picture img {
        transform: rotate(-20deg); } }

.section1 {
  width: 100%;
  min-height: 150vh;
  height: 100%;
  background-image: url(../img/shape1.png);
  background-size: cover;
  background-position: cover;
  background-repeat: no-repeat;
  margin-top: -270px;
  overflow: hidden;
  position: relative;
  z-index: 5; }
  @media screen and (min-width: 1768px) {
    .section1 {
      margin-top: -300px; } }
  @media (orientation: portrait) {
    .section1 {
      min-height: 90vh; } }

.bg-wrap {
  background-image: url(../img/shape2.png);
  background-size: cover;
  background-position: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  opacity: 0.7;
  z-index: 15;
  top: 10%;
  height: 100%;
  display: flex;
  justify-content: center; }

.s2-content {
  position: relative;
  top: 70px;
  z-index: 16;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20%;
  max-height: 100%; }
  .s2-content img {
    width: 90%; }
  .s2-content h2 {
    color: #0089a0;
    text-shadow: white -1px -1px 4px;
    padding-top: 1vw;
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem; }
  .s2-content a {
    width: 150px;
    height: 3rem;
    border: solid 1px black;
    border-radius: 20px;
    text-align: center;
    font-size: 1.2rem;
    line-height: 3rem;
    text-decoration: none;
    color: black;
    background-color: #00b2bb;
    transition: background-color .6s;
    text-transform: uppercase;
    position: relative;
    left: -20%;
    top: -100px; }
    .s2-content a:hover {
      border: 1px solid transparent;
      background-color: #22f4ff;
      text-shadow: gray 1px 1px 1px; }

.gallery {
  width: 100%;
  height: 100%;
  background-color: #0089a0;
  padding: 1px 0px 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.gallery-title {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  width: 100%;
  height: 10%;
  margin-bottom: 5%; }

.gallery-content {
  background-color: rgba(255, 255, 255, 0.8);
  height: 100%;
  width: 90%;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center; }

.card {
  max-width: 100%;
  min-height: 50vh;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: solid 2px #0089a0;
  border-radius: 10px 30px;
  padding: 10px 5px; }
  .card p {
    font-size: 1.4rem;
    color: #0089a0;
    text-transform: uppercase;
    text-shadow: black 1px 1px 1px; }
  .card .pict {
    width: 100%;
    object-fit: cover;
    justify-self: flex-start;
    align-self: flex-start;
    margin: auto; }
    .card .pict img {
      max-width: 100%; }

.size {
  display: flex;
  align-items: center;
  justify-content: space-between; }

footer {
  margin: 2%;
  width: 96%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  min-height: 10vh;
  border: solid #0089a0 10px;
  border-radius: 15px;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  @media (orientation: portrait) {
    footer {
      flex-direction: column; } }

.contact-wrap {
  height: 100%;
  width: 49%;
  padding: 10px; }
  @media (orientation: portrait) {
    .contact-wrap {
      width: 90%; } }

.map-wrap {
  width: 49%;
  min-height: 50vh;
  border: solid 3px #0089a0;
  border-radius: 15px;
  overflow: hidden;
  padding: 0;
  margin: 0; }
  @media (orientation: portrait) {
    .map-wrap {
      width: 90%; } }

.map {
  width: 105%;
  height: 52vh; }

/* Form */
form {
  display: flex;
  flex-direction: column; }

.contact h3 {
  margin: 0 0 45px;
  text-align: center;
  color: #48BF72;
  font-size: 26px;
  font-family: "Big John", sans-serif;
  font-weight: 400;
  line-height: 25px; }

.contact {
  width: 740px;
  margin: 0 auto;
  text-align: center; }

.field {
  position: relative;
  display: block;
  background-color: #0089a0;
  padding: 2px 2px 2px 50px;
  border-radius: 2px;
  background-repeat: no-repeat;
  margin-bottom: 30px;
  border-radius: 7px; }

.field:after {
  left: 50px;
  top: 18px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-left-color: #0089a0;
  border-width: 6px;
  z-index: 2; }

.field > * {
  width: 100%;
  display: block;
  border: none;
  background: white;
  outline: none;
  min-height: 46px;
  padding: 0 23px 0 23px;
  line-height: 46px;
  font-weight: 700;
  color: #0089a0; }

.field > textarea {
  line-height: 1.3;
  padding-top: 10px;
  padding-bottom: 10px;
  resize: vertical; }

.field.name {
  background-image: url(../img/user.svg);
  background-position: 14px 14px; }

.field.email {
  background-image: url(../img/mail.svg);
  background-position: 14px 17px; }

.field.message {
  background-image: url(../img/crayon.svg);
  background-position: 14px 17px; }

.form-button {
  display: flex;
  justify-content: center;
  border-radius: 4px;
  font-size: 1.3rem;
  align-items: center;
  height: 2rem;
  width: 40%;
  line-height: 2rem; }

.ba-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 20;
  display: none;
  /*display: flex;
*/
  -ms-align-items: center;
  align-items: center;
  justify-content: center; }

.ba-modal-content {
  width: 80vw;
  height: 80vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 15px;
  border: solid 3px #0089a0; }

.ba-modal-content-wrapper {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media (orientation: portrait) {
    .ba-modal-content-wrapper {
      flex-direction: column;
      align-items: center;
      max-height: 100%;
      justify-content: center; } }

.ba-modal-close {
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #1e1e1e;
  top: 12.5px;
  color: black;
  right: 12.5px;
  display: flex;
  font-family: sans-serif;
  -ms-align-items: center;
  align-items: center;
  justify-content: center; }

.ba-modal-open {
  display: flex; }

.ba-modal__image {
  max-width: 80%;
  max-height: 70vh;
  object-fit: contain; }

.modalTxt {
  align-self: flex-start;
  animation-duration: .6s;
  animation-delay: .5s; }
  @media (orientation: portrait) {
    .modalTxt {
      align-self: center;
      margin-top: 2rem; } }

.ba-modal-is-open {
  overflow: hidden; }

.active {
  transform: translateX(0px); }

.animate {
  animation-name: hide;
  animation-duration: 3s;
  animation-iteration-count: 1; }

@keyframes title {
  0% {
    color: white; }
  10% {
    color: skyblue; }
  20% {
    color: transpatent; }
  30% {
    text-shadow: white 0px 0px 6px; }
  60% {
    text-shadow: white 0px 0px 18px; }
  80% {
    text-shadow: white 0px 0px 18px; }
  90% {
    text-shadow: white 0px 0px 24px; }
  100% {
    color: white;
    text-shadow: white 0px 0px 4px; } }

@keyframes hide {
  20% {
    opacity: 0;
    transform: scale(0.1) translateY(-1000px); }
  40% {
    transform: translateY(0);
    transform: translatex(1000px); }
  70% {
    transform: translateX(0px);
    opacity: 1;
    transition: transform 1s;
    transform: rotate(0deg); }
  80% {
    transform: rotate(60deg);
    transition: 2s; }
  90% {
    transform: rotate(-10deg);
    transition: 2s; }
  100% {
    transform: rotate(0deg) scale(0.8);
    transition: 2s; } }
