$bgColor:#00b2bb;
$darkBlue:#0089a0;

*{
	box-sizing: border-box
}
body{
	margin: 0 auto;
	padding: 0;
	max-width: 1920px;
	overflow-x: hidden;
	font-family: 'Josefin Sans', sans-serif;
}
header {
	width: 100%;
	margin: 0%;
	min-height: 120vh;
	overflow: auto;
	padding: 50px 50px;
	background-color: $bgColor;
	background-image: url(../img/bg_scratches.png);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	z-index: 3;
	@media (orientation: portrait){
		min-height: 60vh;
	}
}
nav{
	display: flex;
	align-items: center;
	overflow-x: hidden;
}

//slider
.cont {
	width: 80%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding-top: 20px;
}
.wrap {
	position: relative;
	width: 640px;
	min-height: 480px;
	perspective: 1000px;
}
.wrap div {
	position: absolute;
	width: 640px;
	min-height: 480px;
	opacity: 0;
	display: none;
/*	object-fit: cover;
*/}
.slide-buttons {
min-width: 600px;
width: 90%;
display: flex;
height: 50px;
margin: 0 auto 40px auto;
justify-content: space-between;
}
button {
	width: 45%;
	height: 100%;
	background-color: $bgColor;
	border-radius: 10px;
	text-transform: uppercase;
	color: white;
	font-size: 1.2rem;
}

.wrap div img {
	width: 100%;
	height: auto;
	transition:1s;
}
.wrap .center {
	display: flex;
	opacity: 1;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: 10;
	width: 640px;
	transition: 1s;
	justify-content: center;
	align-items: flex-start;
}
.wrap .left {
	display: block;
	opacity: .5;
	top: 0;
	left: 0;
	transform: translateX(-200px);
	top:80px;
	z-index: 5;
	width: 100px;
	transition: .3s;

}
.wrap .right {	
	display: block;
	opacity: .5;
	top: 0;
	top:80px;
	left: 0;
	transform: translateX(740px);
	z-index: 5;
	width: 100px;
	transition: .3s;
	
}
//slider end
.header-bg1{
	width: 100%;
	height: 100%;
}
.header-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.nav-menu{
		transform: translateX(1000px);
		transition: .8s;
}
.menu {
	display: flex;
	width:50%;
	align-items: center;
	justify-content: space-between;
	padding: 0;
	list-style: none;
	li{
		padding-left: 20px;
		font-size: 30px;
		color: white;
		text-shadow: transparent 1px 1px 3px;
		transition: .4s;
		&:hover{
			cursor: pointer;
			text-shadow: black 1px 1px 3px;
			color:skyblue;
		}
	}
}
.nav-button{
	width: 40px;
	height: 40px;
	display: flex;
	flex-direction: column;
	align-items: space-around;
	justify-content: space-around;
	margin-left: 50px;
	span {
		width: 40px;
		height: 2px;
		background-color: #fff;
	}
}
.header-content{
	height: 100%;
	width: 100%;
	display: flex;
	&>div{
		width: 50%;
	}
	
}
.header-info{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
	padding-top: 10%;
	h1{
		color:white;
		text-align: center;
		margin-bottom: 100px;
		font-size: 3rem;
		text-transform: uppercase;
		text-shadow: white 0px 0px 3px;
		&:hover{
			animation-name: title;
			animation-duration: 3s;
			animation-iteration-count: 1;
		}
		@media screen and(max-width: 901px){
			margin-bottom: 50px;
			font-size: 2rem;
		}
	}
	.h-btn{
		display: inline-block;
		width: 150px;
		height: 3rem;
		border: solid 1px white;
		border-radius: 20px;
		text-align: center;
		font-size: 1.2rem;
		line-height: 3rem;
		text-decoration: none;
		color: white;
		transition: background-color .6s;
		text-transform: uppercase;
		&:hover{
			border: 1px solid transparent;
			background-color: lighten($bgColor,20%);
			text-shadow: gray 1px 1px 1px;
		}
	}

}
.header-picture{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	object-fit: cover;
	// &:hover img{
	// 		animation-name: hide;
	// 		animation-duration: 3s;
	// 		animation-iteration-count: 1;
	// 	}
	img {
		position: relative;
		width: 90%;
		// left: 0;
		// right: 0;
		// bottom: 0;
		// top: 0;
		// margin: auto;
		transform: scale(0.8);
		transition: .4s;
		&::after{
			content:'';
			display: block;
			width: 100%;
			height: stretch;
			background-image: url(../img/shaddow1.png);
			position: absolute;
			bottom: 0;
			left: 0;
		}
		
		@media screen and (max-width: 900px){
			transform: rotate(-20deg);

		}
	}
}

.section1{
	width: 100%;
	min-height: 100%;
	height: 100%;
	background-image: url(../img/shape1.png);
	background-size: cover;
	background-position: cover;
	background-repeat: no-repeat;
	margin-top: -240px;
	overflow-x: hidden;
	// overflow-y: visible;
	position: relative;
	z-index: 5;
	@media screen and (min-width:1768px){
		margin-top: -300px;
	}
}
.bg-wrap{
	background-image: url(../img/shape2.png);
	background-size: cover;
	background-position: cover;
	background-repeat: no-repeat;
	position: absolute;
	width: 100%;
	opacity: 0.7;
	z-index:15;
	top: 10%;
	height: 100%;
	display: flex;
	justify-content: center;
		
}
.s2-content{
	position: relative;
	z-index: 16;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 20%;
	max-height: 80%;
	img {
		width: 90%;
	}
	h2{
		color: $darkBlue;
	text-shadow: white -1px -1px 4px;
	padding-top: 1vw;
	text-align: center;
	text-transform: uppercase;
	font-size: 3rem;
	}
	a{
		width: 150px;
		height: 3rem;
		border: solid 1px black;
		border-radius: 20px;
		text-align: center;
		font-size: 1.2rem;
		line-height: 3rem;
		text-decoration: none;
		color: black;
		background-color: $bgColor;
		transition: background-color .6s;
		text-transform: uppercase;
		position: relative;
		left:-20%;
		top: -100px;

		&:hover{
			border: 1px solid transparent;
			background-color: lighten($bgColor,20%);
			text-shadow: gray 1px 1px 1px;
		}
	}
}

//gallery
.gallery{
	width: 100%;
	height: 100%;
	background-color: #0089a0;
	padding: 1px 0px 20px 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
}
.gallery-title{
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-size: 2rem;
	width: 100%;
	height: 10%;
	margin-bottom: 5%;
}
.gallery-content{
	background-color: rgba(255,255,255, 0.8);
	height: 100%;
	width: 90%;
	border-radius: 15px;
	padding: 10px;
}
.card{
	max-width: 100%;
	min-height: 50vh;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	border:solid 2px $darkBlue;
	border-radius: 10px 30px;  
	padding: 10px 5px;
	margin-bottom: 2%;
	p{
		font-size: 1.4rem;
		color:$darkBlue;
		text-transform: uppercase;
		text-shadow: black 1px 1px 1px;
	}
	.pict{
		width: 100%;
		object-fit: cover;
		justify-self:flex-start;
		align-self: flex-start;
			img{
			max-width: 100%;
		}
	}
}

//footer

footer {
	margin: 2vw;
	width: 96vw;
	height: 100%;
	background-color: #fff;
	min-height: 10vh;
	border:solid $darkBlue 10px;
	border-radius: 15px;
	padding: 10px 20px;
}


//ba modal
.ba-modal {
position: fixed;
left: 0;
top: 0;
width: 100vw;
height: 100vh;
background-color: rgba(0,0,0,.45);
z-index: 20;
display: none;

/*display: flex;
*/-ms-align-items: center;
align-items: center;
justify-content: center;

}

.ba-modal-content {
width: 80vw;
height: 80vh;
position: relative;
display: flex;
justify-content: center;
align-items: center;
background-color: rgba(255,255,255, 0.9);
border-radius: 10px;
padding: 15px;
border:solid 3px $darkBlue;

}
.ba-modal-content-wrapper{
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

.ba-modal-close {
	position: absolute;
	height: 25px;
	width: 25px;
	background-color: #fff;
	border-radius: 50%;
	border: 1px solid #1e1e1e;
	top: 12.5px;
	color:black;
	right: 12.5px;
	display: flex;
	font-family: sans-serif;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}
.ba-modal-open {
	display: flex;
}
.ba-modal__image {
	max-width: 100%;
	max-height: 70vh;
	object-fit: contain;
}

.ba-modal-is-open {
	overflow: hidden;
}

.active{
		transform: translateX(0px);
}
.animate{
	animation-name: hide;
	animation-duration: 3s;
	animation-iteration-count: 1;
}



//keyframes
@keyframes title {
	0%{
		color:white;
	}
	10%{
		color:skyblue;
	}
	20%{
		color:transpatent;
	}
	30%{
		text-shadow: white 0px 0px 6px;
	}
	60%{
		text-shadow: white 0px 0px 18px;
	}
	80%{
		text-shadow: white 0px 0px 18px;
	}
	90%{
		text-shadow: white 0px 0px 24px;
	}
	100%{
		color:white;
		text-shadow: white 0px 0px 4px;
	}
}
@keyframes hide {
	20%{
		opacity: 0;
		transform: scale(0.1) translateY(-1000px)
	}
	
	40%{
		transform:translateY(0);
		transform:translatex(1000px);
	}
	70%{
		transform:translateX(0px);
		opacity: 1;
		transition: transform 1s;
		transform:rotate(0deg);
	}
	80%{
		transform:rotate(60deg);
		transition: 2s;
	}
	90%{
		transform:rotate(-10deg);
		transition: 2s;
	}
	100%{
		transform:rotate(0deg) scale(0.8);
		transition: 2s;
	}
}